/.vscode
/0test.exe
/calc0.exe
/calc1.exe
/classic_calculator_x86.zip
/export_results.txt
/infect.exe
/infect.txt
/infectv3.c
/infectv5.c
/infect_data.exe
/infect_data.h
/infect_datav4.c
/infect_datav4.exe
/infect_datav5.c
/main.cpp
/main.exe
/results.txt
/sleep.c